/* HEADER */
.jpageHeader {
    background: linear-gradient( white, #C5C6C7);
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid #1F2833;
    border-bottom: 1px solid #1F2833;
}
.jpageHeader .navbar-brand{
    text-shadow: 3px 3px #C5C6C7;
    margin-right: 50px;
}
.jpageHeader .navbar-brand b{
    font-size: 20px;
}
.jpageHeader .nav-item{
    margin-right: 15px;
    font-size: 15px;
}
.jpageHeader .dropdown-menu{
    margin-top: 50px;
    background: linear-gradient( white, #C5C6C7);
    font-size: 15px;
}
.jpageHeader b {
    text-shadow: 3px 3px #C5C6C7;
    font-size: 18px;
}

/* CONTENT */
.jpageCon1 {
    background-color: white;
    margin-top: 70px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    min-height: 550px;
}
/* CONTENT PERTAMA */
.jpageCon1 .highlight {
    background-color: lightgray;
    margin-bottom: 8px;
    height: 630px;
    width: auto;
}
.jpageCon1 .tableDaftar {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
.jpageCon1 .carousel-indicators {
    background-color: gainsboro;
    border: 1px solid #1F2833;
}

/* CONTENT KEDUA */
.jpageCon2{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.jpageCon2 .columns {
    width: 350px;
    margin: 0px 100px 0px 100px;
}
.jpageCon2 .jText1 {
    font-size: 20px;
    height: 30px;
}
.jpageCon2 .jText2 {
    font-size: 16px;
    height: 80px;
}
.jpageCon2 .jText3 {
    height: 20px;
}
.jpageCon2 .navbar-brand {
    border: 2px solid black;
    padding: 5px 20px 5px 20px;
}
.jpageCon2 .iklanInfo{
    height: auto;
}
.jpageCon2 .iklanInfo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 1250px;
}
.jpageCon2 .iklanInfo table {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: auto;
}
.jpageCon2 select {
    width: 100px;
}

/* FOOTER */
.jpageFooter {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.jpageFooter iframe {
    height: 1000px;
    width: 100%;
}