/* created by  :   nama    :joy mr
                nim     :10121910
                kelas   :IF9K
created on              :20220623
page name               :jmr.css
total                   :??? pages
logs                    :v1.0 20220623 - create file
                        :v1.0 20220728 - finish file */

/* HEADER */
.jpageHeader {
    background: linear-gradient( white, #C5C6C7);
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}
.jpageHeader .navbar-brand{
    text-shadow: 3px 3px #C5C6C7;
    margin-right: 50px;
}
.jpageHeader .navbar-brand b{
    font-size: 20px;
}
.jpageHeader .nav-item{
    margin-right: 15px;
    font-size: 15px;
}
.jpageHeader .dropdown-menu{
    margin-top: 50px;
    background: linear-gradient( white, #C5C6C7);
    font-size: 15px;
}
.jpageHeader b {
    text-shadow: 3px 3px #C5C6C7;
    font-size: 18px;
}

/* MASKOT */
.maskot img{
    height: 120px;
    width: 100px;
}

/* CONTENT */
.jpageCon1 {
    background-color: white;
    padding-top: 75px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
    min-height: 550px;
}
/* CONTENT PERTAMA */
.jpageCon1 .highlight {
    margin-bottom: 10px;
    height: 630px;
    width: auto;
    box-shadow: 10px 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 20px;
}
.jpageCon1 .tableDaftar {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
.jpageCon1 .carousel-caption a:link {
    font-size: 250px;
    color: transparent;
    text-decoration: none;
}
.jpageCon1 .carousel-caption a:hover {
    font-size: 250px;
    color: #C5C6C7;
    text-shadow: 5px 5px black;
    text-decoration: none;
}
.jpageCon1 .warningNoNik {
    height: 500px;
    font-size: 50px;
    font-weight: bolder;
}

/* CONTENT KEDUA */
.jpageCon2{
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ddd;
}
.jpageCon2 .columns {
    width: 350px;
    margin: 0px 100px 0px 100px;
}
.jpageCon2 .jText1 {
    font-size: 20px;
    height: 30px;
}
.jpageCon2 .jText2 {
    font-size: 16px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
}
.jpageCon2 .jText3 {
    height: 20px;
}
.jpageCon2 .navbar-brand {
    border: 2px solid black;
    padding: 5px 20px 5px 20px;
}
.jpageCon2 .iklanInfo{
    height: auto;
}
.jpageCon2 .iklanInfo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 1250px;
}
.jpageCon2 .iklanInfo table {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: auto;
}
.jpageCon2 select {
    width: 100px;
}

/* FOOTER */
.jpageFooter {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.jpageFooter iframe {
    height: 1000px;
    width: 100%;
}

.jtable th {
    font-size: 20px;
}

.jtable td {
    font-size: 15px;
}

.jlist {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 5px;
    padding: 10px;
}

.jpagination {
    color: black;
    margin-right: 10px;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    text-decoration: none;
}
